.userListWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.userListWrapper .createNew {
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    transition: 0.25s;
    height: 60px;
    box-shadow: 0px 0px 2px 0.5px #0e0e0e;
}

.userListWrapper .createNew .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 100;
    background-color: #9fa4e46e;
    color: #00f;
}
.userListWrapper .createNew .text {
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 5px;
    color: rgb(70, 67, 67);
    font-weight: 900;
}
.userListWrapper .createNew:hover {
    box-shadow: 0px 0px 2px 3px #9fa4e4e0;
}
.userListWrapper .chatUtils {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 24px;
}
.userListWrapper .chatUtils .chatHeading {
    margin-bottom: 15px;
}
.userListWrapper .chatUtils .searchBar {
    margin: 5px 0px;
    background-color: rgb(218, 224, 247);
    border-radius: 25px;
    display: flex;
    width: 100%;
}
.userListWrapper .chatUtils .searchBar input {
    height: inherit;
    border: none;
    background-color: rgb(218, 224, 247);
    outline: none;
    border-radius: 25px;
    padding-left: 12px;
    padding-right: 5px;
    width: 100%;
    font-size: 16px;
}
.userListWrapper .chatUtils .searchBar .searchIcon {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: rgb(218, 224, 247);
    border-radius: 25px;
    padding-right: 12px;
}
.userListWrapper .users {
    overflow-y: scroll;
}
.userListWrapper .users ul {
    margin: 12px 0px;
    overflow-y: scroll;
}
.userListWrapper .users ul li {
    display: flex;
    list-style: none;
    padding: 5px;
    -webkit-box-shadow: 0 8px 6px -11px black;
    -moz-box-shadow: 0 8px 6px -11px black;
    box-shadow: 0 8px 6px -11px black;
    cursor: pointer;
}
.userListWrapper .users ul li.active {
    background-color: rgb(195, 195, 230);
}
.userListWrapper .users ul li:hover {
    background-color: #eee;
}
.userListWrapper .users ul li .profileImage {
    width: 45px;
    height: 45px;
}
.userListWrapper .users ul li .profileImage img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.userListWrapper .users ul li .userName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
}
.userListWrapper .users ul li .userName .name {
    font-size: 1em;
}
.userListWrapper .users ul li .userName .status {
    font-size: 0.6em;
    padding-left: 5px;
    display: flex;
    align-items: center;
}
.userListWrapper .users ul li .userName .status .activeUser, .userListWrapper .users ul li .userName .status .notActiveUser {
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    padding: 2px;
    margin: 0px 2px;
}
.userListWrapper .users ul li .userName .status .activeUser {
    background-color: #3cff3c;
}
.userListWrapper .users ul li .userName .status .notActiveUser {
    background-color: #ff5353;
}
