.userListWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
}
.userListWrapper .headingBar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 8px;
}
.userListWrapper .headingBar .heading h1 {
  font-size: 36px;
  color: #0d1c2e;
  font-weight: 300;
}
.userListWrapper .headingBar .heading span {
  color: #707c97;
  font-size: 12px;
  font-weight: 300;
  padding-left: 4px;
}
.userListWrapper .headingBar .createNew {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px 0px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 300;
  border-radius: 6px;
  background: linear-gradient(92.68deg, #7cb8f7 0%, #2a8bf2 100%);
  box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05),
    10px 6px 25px rgba(42, 139, 242, 0.15);
}
.userListWrapper .headingBar .createNew .plus {
  margin-right: 5px;
}

/* Css for the Search bar */
.userListWrapper .chatUtils {
  background-color: #ffffff;
  min-height: 70px;
  padding: 4px 6px;
  border-radius: 6px;
  box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.25),
    0px 10px 25px rgba(0, 0, 0, 0.05);
}
.userListWrapper .chatUtils .searchBar {
  width: 100%;
  height: 100%;
}
.userListWrapper .chatUtils .searchBar .searchIcon {
  margin-right: 10px;
}
.userListWrapper .chatUtils .searchBar input {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
}

/* css for the user list display */
.userListWrapper .users {
  margin-top: 10px;
  overflow-y: scroll;
}
.userListWrapper .users ul li {
  margin: 10px 0px;
  padding: 10px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 5%), 0px 4px 5px rgb(0 0 0 / 25%), 0px 2px 5px rgb(0 0 0 / 5%);
}
.userListWrapper .users ul li.active {
  background: linear-gradient(92.68deg, #7cb8f7 0%, #2a8bf2 100%);
}
.userListWrapper .users ul li .userInfo {
    display: flex;
}
.userListWrapper .users ul li .messageData {
    font-size: 12px;
    margin-top: 3px;
    font-weight: 100;
    display: flex;
    max-width: 330px;
}
.userListWrapper .users ul li .messageData p {
  word-wrap: break-word;
  width: 290px;
}
.userListWrapper .users ul li.active .messageData {
    color: #FFFFFF;
}
.userListWrapper .users ul li .messageData .messageCount {
    height: 20px;
    min-width: 20px;
    border-radius: 50%;
    margin-left: 20px;
    color: #ffffff;
    background-color: #FF3366;
    box-shadow: 4px 4px 15px rgba(198, 27, 74, 0.05), 2px 2px 10px rgba(198, 27, 74, 0.1), 1px 1px 50px rgba(198, 27, 74, 0.15);;
}
.userListWrapper .users ul li .messageData .nonotification {
    background-color: #ffffff;
    box-shadow: none;
}
.userListWrapper .users ul li.active .messageData .nonotification {
    background-color: #2a8bf2;
}
.userListWrapper .users ul li .userInfo img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: 8px;
  filter: drop-shadow(1px 1px 50px rgba(198, 27, 74, 0.15));
  object-fit: cover;
}
.userListWrapper .users ul li .userInfo .userName {
    width: 100%;
    justify-content: space-between;
}
.userListWrapper .users ul li .userInfo .userName .name {
    color: #0D1C2E;
    font-size: 18px;
}
.userListWrapper .users ul li .userInfo .userName .status {
    font-size: 12px;
    color: #707C97;
}
.userListWrapper .users ul li.active .userInfo .userName .status {
    color: rgba(255, 255, 255, 0.75);
}