.friendRequestMapper {
  height: 100%;
  display: flex;
  justify-content: center;
}
.friendRequestMapper .friendRequest {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 50px 0px;
}
.friendRequestMapper .noRequests {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.friendRequestMapper .friendRequest li {
  padding: 10px 10px;
  background-color: #ffffff;
  border: 1px solid rgba(112, 124, 151, 0.25);
  border-radius: 6px;
}
.friendRequestMapper .friendRequest li .detailWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  min-height: 90px;
}
.friendRequestMapper .friendRequest li .detailWrapper .additonalDetails {
  display: flex;
}
.friendRequestMapper .friendRequest li .detailWrapper .additonalDetails img {
  height: 56px;
  width: 56px;
  border-radius: 50%;
}
.friendRequestMapper .friendRequest li .detailWrapper .additonalDetails .details {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.friendRequestMapper .friendRequest li .detailWrapper .additonalDetails .details span:nth-child(1) {
  font-size: 18px;
  color: #0D1C2E;
}
.friendRequestMapper .friendRequest li .detailWrapper .additonalDetails .details span:nth-child(2) {
    color: rgba(112, 124, 151, 0.75);
    font-size: 12px;
}
.friendRequestMapper .friendRequest li .detailWrapper .actionButton {
  display: flex;
  justify-content: flex-end;
}
.friendRequestMapper .friendRequest li .detailWrapper .actionButton div {
  padding: 6px 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  background: var(--redButtonColor);
}
.friendRequestMapper .friendRequest li .detailWrapper .actionButton div:nth-child(1) {
  margin-right: 5px;
  background: var(--blueButtonColor);
}