.userSearchPopUP {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    left: 0;
    top: 0;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.userSearchPopUP .searchWrapper {
    width: 60%;
    height: 80%;
    background-color: #fff;
    border-radius: 12px;
    opacity: 1;
    box-shadow:  1px 2px 3px 3px rgb(226, 226, 226);
}
.userSearchPopUP .searchWrapper .searchBar {
    padding: 5% 10%;
    display: flex;
}
.userSearchPopUP .searchWrapper .searchBar input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 0.5px solid rgba(112, 124, 151, 0.5);;
  color: rgba(112, 124, 151, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 16px;
    margin-right: 5px;
}
.userSearchPopUP .searchWrapper .searchBar input::placeholder {
    color: rgba(112, 124, 151, 0.5);
    opacity: 1;
  }
.userSearchPopUP .searchWrapper .searchBar div {
    height: 40px;
    width: 140px;
    color: #fff;
    background: linear-gradient(92.68deg, #7cb8f7 0%, #2a8bf2 100%);
    border-radius: 16px;
    justify-content: space-between;
    padding: 20px 25px;
}
/* FF3366 */
.userSearchPopUP .searchWrapper .searchResults {
    padding: 0% 10% 2% 10%;
    height: 63%;
    overflow-y: scroll;
}
.userSearchPopUP .searchWrapper .searchResults .noResults, 
.userSearchPopUP .searchWrapper .searchResults .notSearched {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 24px;
}
.userSearchPopUP .searchWrapper .searchResults .resultsList {
    display: flex;
    flex-wrap: wrap;
}
.userSearchPopUP .searchWrapper .searchResults .resultsList .result {
    list-style: none;
    border: 0.5px solid rgba(112, 124, 151, 0.5);
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    cursor: pointer;
    margin: 5px;
}
.userSearchPopUP .searchWrapper .searchResults .resultsList .result .requestBox {
    display: flex;
    width: 150%;
}
.userSearchPopUP .searchWrapper .searchResults .resultsList .result .requestBox img {
    height: 56px;
    width: 56px;
    border-radius: 50%;
}
.userSearchPopUP .searchWrapper .searchResults .resultsList .result .requestBox .details, 
.userSearchPopUP .searchWrapper .searchResults .resultsList .result .requestBox .details > div {
    display: flex;
    flex-direction: column;
}
.userSearchPopUP .searchWrapper .searchResults .resultsList .result .requestBox .details {
    height: 110px;
    width: 220px;
    padding-left: 10px;
    justify-content: space-between;
    color: rgba(112, 124, 151, 0.5);
}
.userSearchPopUP .searchWrapper .searchResults .resultsList .result .requestBox .details > div > span:nth-child(1) {
    color: #0D1C2E;
}
.userSearchPopUP .searchWrapper .searchResults .resultsList .result .requestBox .details div.buttons {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.userSearchPopUP .searchWrapper .searchResults .resultsList .result .requestBox .buttons .addFriend {
    background: linear-gradient(92.68deg, #7cb8f7 0%, #2a8bf2 100%);
    height: 30px;
    color: #fff;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
}
.userSearchPopUP .searchWrapper .searchResults .resultsList .result .requestBox .buttons .addFriend svg {
    padding-right: 4px;
}
.userSearchPopUP .searchWrapper .searchResults .resultsList .result span:nth-child(1) {
    font-size: 18px;
}
.userSearchPopUP .searchWrapper .searchResults .resultsList .result span:nth-child(2) {
    font-size: 12px;
}
.userSearchPopUP .closeButton {
    padding: 3%;
    display: flex;
}
.userSearchPopUP .closeButton div {
    height: 40px;
    width: 140px;
    cursor: pointer;
    background: linear-gradient(92.68deg, rgb(211, 148, 139) 0%, rgb(230, 79, 59) 100%);
    color: #fff;
    border-radius: 16px;
    margin-left: auto;
    justify-content: space-between;
    padding: 0px 35px;
}