.GroupChatWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.GroupChatWrapper .GroupChatList {
  flex: 1;
}
.GroupChatWrapper .GroupChatMessages {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.25),
    0px 10px 25px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-left: 10px;
}
.GroupChatWrapper .GroupChatMessages .chatHeader {
  background-color: rgba(112, 124, 151, 0.1);
  border-radius: 6px 6px 0px 0px;
}
.GroupChatWrapper .GroupChatMessages .messages {
  height: 100%;
  overflow-y: scroll;
}
.GroupChatWrapper .GroupChatMessages .messageInput {
  height: fit-content;
}