:root{
  --redButtonColor: linear-gradient(92.68deg, rgb(211, 148, 139) 0%, rgb(230, 79, 59) 100%);
  --blueButtonColor: linear-gradient(92.68deg, #7cb8f7 0%, #2a8bf2 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body, #root {
  height: 100%;
}

body {
  position: relative;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  cursor: pointer;
}